/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$factory-name: 'factory'
$factory-x: 0px
$factory-y: 28px
$factory-offset-x: 0px
$factory-offset-y: -28px
$factory-width: 26px
$factory-height: 22px
$factory-total-width: 74px
$factory-total-height: 71px
$factory-image: '../images/sprite.png'
$factory: (0px, 28px, 0px, -28px, 26px, 22px, 74px, 71px, '../images/sprite.png', 'factory', )
$heart-name: 'heart'
$heart-x: 26px
$heart-y: 28px
$heart-offset-x: -26px
$heart-offset-y: -28px
$heart-width: 26px
$heart-height: 22px
$heart-total-width: 74px
$heart-total-height: 71px
$heart-image: '../images/sprite.png'
$heart: (26px, 28px, -26px, -28px, 26px, 22px, 74px, 71px, '../images/sprite.png', 'heart', )
$man-name: 'man'
$man-x: 0px
$man-y: 0px
$man-offset-x: 0px
$man-offset-y: 0px
$man-width: 23px
$man-height: 28px
$man-total-width: 74px
$man-total-height: 71px
$man-image: '../images/sprite.png'
$man: (0px, 0px, 0px, 0px, 23px, 28px, 74px, 71px, '../images/sprite.png', 'man', )
$rowsup-name: 'rowsup'
$rowsup-x: 48px
$rowsup-y: 0px
$rowsup-offset-x: -48px
$rowsup-offset-y: 0px
$rowsup-width: 26px
$rowsup-height: 23px
$rowsup-total-width: 74px
$rowsup-total-height: 71px
$rowsup-image: '../images/sprite.png'
$rowsup: (48px, 0px, -48px, 0px, 26px, 23px, 74px, 71px, '../images/sprite.png', 'rowsup', )
$shop-name: 'shop'
$shop-x: 0px
$shop-y: 50px
$shop-offset-x: 0px
$shop-offset-y: -50px
$shop-width: 25px
$shop-height: 21px
$shop-total-width: 74px
$shop-total-height: 71px
$shop-image: '../images/sprite.png'
$shop: (0px, 50px, 0px, -50px, 25px, 21px, 74px, 71px, '../images/sprite.png', 'shop', )
$twentyfive-name: 'twentyfive'
$twentyfive-x: 23px
$twentyfive-y: 0px
$twentyfive-offset-x: -23px
$twentyfive-offset-y: 0px
$twentyfive-width: 25px
$twentyfive-height: 25px
$twentyfive-total-width: 74px
$twentyfive-total-height: 71px
$twentyfive-image: '../images/sprite.png'
$twentyfive: (23px, 0px, -23px, 0px, 25px, 25px, 74px, 71px, '../images/sprite.png', 'twentyfive', )
$factory-2x-name: 'factory@2x'
$factory-2x-x: 0px
$factory-2x-y: 56px
$factory-2x-offset-x: 0px
$factory-2x-offset-y: -56px
$factory-2x-width: 52px
$factory-2x-height: 44px
$factory-2x-total-width: 148px
$factory-2x-total-height: 142px
$factory-2x-image: '../images/sprite@2x.png'
$factory-2x: (0px, 56px, 0px, -56px, 52px, 44px, 148px, 142px, '../images/sprite@2x.png', 'factory@2x', )
$heart-2x-name: 'heart@2x'
$heart-2x-x: 52px
$heart-2x-y: 56px
$heart-2x-offset-x: -52px
$heart-2x-offset-y: -56px
$heart-2x-width: 52px
$heart-2x-height: 44px
$heart-2x-total-width: 148px
$heart-2x-total-height: 142px
$heart-2x-image: '../images/sprite@2x.png'
$heart-2x: (52px, 56px, -52px, -56px, 52px, 44px, 148px, 142px, '../images/sprite@2x.png', 'heart@2x', )
$man-2x-name: 'man@2x'
$man-2x-x: 0px
$man-2x-y: 0px
$man-2x-offset-x: 0px
$man-2x-offset-y: 0px
$man-2x-width: 46px
$man-2x-height: 56px
$man-2x-total-width: 148px
$man-2x-total-height: 142px
$man-2x-image: '../images/sprite@2x.png'
$man-2x: (0px, 0px, 0px, 0px, 46px, 56px, 148px, 142px, '../images/sprite@2x.png', 'man@2x', )
$rowsup-2x-name: 'rowsup@2x'
$rowsup-2x-x: 96px
$rowsup-2x-y: 0px
$rowsup-2x-offset-x: -96px
$rowsup-2x-offset-y: 0px
$rowsup-2x-width: 52px
$rowsup-2x-height: 46px
$rowsup-2x-total-width: 148px
$rowsup-2x-total-height: 142px
$rowsup-2x-image: '../images/sprite@2x.png'
$rowsup-2x: (96px, 0px, -96px, 0px, 52px, 46px, 148px, 142px, '../images/sprite@2x.png', 'rowsup@2x', )
$shop-2x-name: 'shop@2x'
$shop-2x-x: 0px
$shop-2x-y: 100px
$shop-2x-offset-x: 0px
$shop-2x-offset-y: -100px
$shop-2x-width: 50px
$shop-2x-height: 42px
$shop-2x-total-width: 148px
$shop-2x-total-height: 142px
$shop-2x-image: '../images/sprite@2x.png'
$shop-2x: (0px, 100px, 0px, -100px, 50px, 42px, 148px, 142px, '../images/sprite@2x.png', 'shop@2x', )
$twentyfive-2x-name: 'twentyfive@2x'
$twentyfive-2x-x: 46px
$twentyfive-2x-y: 0px
$twentyfive-2x-offset-x: -46px
$twentyfive-2x-offset-y: 0px
$twentyfive-2x-width: 50px
$twentyfive-2x-height: 50px
$twentyfive-2x-total-width: 148px
$twentyfive-2x-total-height: 142px
$twentyfive-2x-image: '../images/sprite@2x.png'
$twentyfive-2x: (46px, 0px, -46px, 0px, 50px, 50px, 148px, 142px, '../images/sprite@2x.png', 'twentyfive@2x', )
$spritesheet-width: 74px
$spritesheet-height: 71px
$spritesheet-image: '../images/sprite.png'
$spritesheet-sprites: ($factory, $heart, $man, $rowsup, $shop, $twentyfive, )
$spritesheet: (74px, 71px, '../images/sprite.png', $spritesheet-sprites, )
$retina-spritesheet-width: 148px
$retina-spritesheet-height: 142px
$retina-spritesheet-image: '../images/sprite@2x.png'
$retina-spritesheet-sprites: ($factory-2x, $heart-2x, $man-2x, $rowsup-2x, $shop-2x, $twentyfive-2x, )
$retina-spritesheet: (148px, 142px, '../images/sprite@2x.png', $retina-spritesheet-sprites, )

/*
  These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

  The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
  */
$factory-group-name: 'factory'
$factory-group: ('factory', $factory, $factory-2x, )
$heart-group-name: 'heart'
$heart-group: ('heart', $heart, $heart-2x, )
$man-group-name: 'man'
$man-group: ('man', $man, $man-2x, )
$rowsup-group-name: 'rowsup'
$rowsup-group: ('rowsup', $rowsup, $rowsup-2x, )
$shop-group-name: 'shop'
$shop-group: ('shop', $shop, $shop-2x, )
$twentyfive-group-name: 'twentyfive'
$twentyfive-group: ('twentyfive', $twentyfive, $twentyfive-2x, )
$retina-groups: ($factory-group, $heart-group, $man-group, $rowsup-group, $shop-group, $twentyfive-group, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
    It should be used with a "retina group" variable.

  The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

  $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, )

  .icon-home
    @include retina-sprite($icon-home-group)
  */
@mixin sprite-background-size($sprite)
  $sprite-total-width: nth($sprite, 7)
  $sprite-total-height: nth($sprite, 8)
  background-size: $sprite-total-width $sprite-total-height

@mixin retina-sprite($retina-group)
  $normal-sprite: nth($retina-group, 2)
  $retina-sprite: nth($retina-group, 3)
  @include sprite($normal-sprite)

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    @include sprite-image($retina-sprite)
    @include sprite-background-size($normal-sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)

/*
  The `retina-sprites` mixin generates a CSS rule and media query for retina groups
    This yields the same output as CSS retina template but can be overridden in SASS

  @include retina-sprites($retina-groups)
  */
@mixin retina-sprites($retina-groups)
  @each $retina-group in $retina-groups
    $sprite-name: nth($retina-group, 1)
    .#{$sprite-name}
      @include retina-sprite($retina-group)
