/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$branch-name: 'branch'
$branch-x: 40px
$branch-y: 0px
$branch-offset-x: -40px
$branch-offset-y: 0px
$branch-width: 72px
$branch-height: 29px
$branch-total-width: 152px
$branch-total-height: 117px
$branch-image: '../images/sprite.png'
$branch: (40px, 0px, -40px, 0px, 72px, 29px, 152px, 117px, '../images/sprite.png', 'branch', )
$brilliant-name: 'brilliant'
$brilliant-x: 78px
$brilliant-y: 94px
$brilliant-offset-x: -78px
$brilliant-offset-y: -94px
$brilliant-width: 26px
$brilliant-height: 22px
$brilliant-total-width: 152px
$brilliant-total-height: 117px
$brilliant-image: '../images/sprite.png'
$brilliant: (78px, 94px, -78px, -94px, 26px, 22px, 152px, 117px, '../images/sprite.png', 'brilliant', )
$check-name: 'check'
$check-x: 40px
$check-y: 29px
$check-offset-x: -40px
$check-offset-y: -29px
$check-width: 27px
$check-height: 26px
$check-total-width: 152px
$check-total-height: 117px
$check-image: '../images/sprite.png'
$check: (40px, 29px, -40px, -29px, 27px, 26px, 152px, 117px, '../images/sprite.png', 'check', )
$classmates-name: 'classmates'
$classmates-x: 112px
$classmates-y: 39px
$classmates-offset-x: -112px
$classmates-offset-y: -39px
$classmates-width: 39px
$classmates-height: 39px
$classmates-total-width: 152px
$classmates-total-height: 117px
$classmates-image: '../images/sprite.png'
$classmates: (112px, 39px, -112px, -39px, 39px, 39px, 152px, 117px, '../images/sprite.png', 'classmates', )
$cross-name: 'cross'
$cross-x: 112px
$cross-y: 78px
$cross-offset-x: -112px
$cross-offset-y: -78px
$cross-width: 13px
$cross-height: 13px
$cross-total-width: 152px
$cross-total-height: 117px
$cross-image: '../images/sprite.png'
$cross: (112px, 78px, -112px, -78px, 13px, 13px, 152px, 117px, '../images/sprite.png', 'cross', )
$crossgray-name: 'crossgray'
$crossgray-x: 125px
$crossgray-y: 78px
$crossgray-offset-x: -125px
$crossgray-offset-y: -78px
$crossgray-width: 10px
$crossgray-height: 10px
$crossgray-total-width: 152px
$crossgray-total-height: 117px
$crossgray-image: '../images/sprite.png'
$crossgray: (125px, 78px, -125px, -78px, 10px, 10px, 152px, 117px, '../images/sprite.png', 'crossgray', )
$f-name: 'f'
$f-x: 112px
$f-y: 0px
$f-offset-x: -112px
$f-offset-y: 0px
$f-width: 40px
$f-height: 39px
$f-total-width: 152px
$f-total-height: 117px
$f-image: '../images/sprite.png'
$f: (112px, 0px, -112px, 0px, 40px, 39px, 152px, 117px, '../images/sprite.png', 'f', )
$factory-name: 'factory'
$factory-x: 52px
$factory-y: 94px
$factory-offset-x: -52px
$factory-offset-y: -94px
$factory-width: 26px
$factory-height: 22px
$factory-total-width: 152px
$factory-total-height: 117px
$factory-image: '../images/sprite.png'
$factory: (52px, 94px, -52px, -94px, 26px, 22px, 152px, 117px, '../images/sprite.png', 'factory', )
$heart-name: 'heart'
$heart-x: 26px
$heart-y: 94px
$heart-offset-x: -26px
$heart-offset-y: -94px
$heart-width: 26px
$heart-height: 22px
$heart-total-width: 152px
$heart-total-height: 117px
$heart-image: '../images/sprite.png'
$heart: (26px, 94px, -26px, -94px, 26px, 22px, 152px, 117px, '../images/sprite.png', 'heart', )
$instagram-name: 'instagram'
$instagram-x: 41px
$instagram-y: 55px
$instagram-offset-x: -41px
$instagram-offset-y: -55px
$instagram-width: 41px
$instagram-height: 39px
$instagram-total-width: 152px
$instagram-total-height: 117px
$instagram-image: '../images/sprite.png'
$instagram: (41px, 55px, -41px, -55px, 41px, 39px, 152px, 117px, '../images/sprite.png', 'instagram', )
$magnifier-name: 'magnifier'
$magnifier-x: 92px
$magnifier-y: 29px
$magnifier-offset-x: -92px
$magnifier-offset-y: -29px
$magnifier-width: 18px
$magnifier-height: 19px
$magnifier-total-width: 152px
$magnifier-total-height: 117px
$magnifier-image: '../images/sprite.png'
$magnifier: (92px, 29px, -92px, -29px, 18px, 19px, 152px, 117px, '../images/sprite.png', 'magnifier', )
$man-name: 'man'
$man-x: 82px
$man-y: 55px
$man-offset-x: -82px
$man-offset-y: -55px
$man-width: 23px
$man-height: 28px
$man-total-width: 152px
$man-total-height: 117px
$man-image: '../images/sprite.png'
$man: (82px, 55px, -82px, -55px, 23px, 28px, 152px, 117px, '../images/sprite.png', 'man', )
$marker-name: 'marker'
$marker-x: 0px
$marker-y: 0px
$marker-offset-x: 0px
$marker-offset-y: 0px
$marker-width: 40px
$marker-height: 55px
$marker-total-width: 152px
$marker-total-height: 117px
$marker-image: '../images/sprite.png'
$marker: (0px, 0px, 0px, 0px, 40px, 55px, 152px, 117px, '../images/sprite.png', 'marker', )
$rowsup-name: 'rowsup'
$rowsup-x: 0px
$rowsup-y: 94px
$rowsup-offset-x: 0px
$rowsup-offset-y: -94px
$rowsup-width: 26px
$rowsup-height: 23px
$rowsup-total-width: 152px
$rowsup-total-height: 117px
$rowsup-image: '../images/sprite.png'
$rowsup: (0px, 94px, 0px, -94px, 26px, 23px, 152px, 117px, '../images/sprite.png', 'rowsup', )
$shop-name: 'shop'
$shop-x: 104px
$shop-y: 94px
$shop-offset-x: -104px
$shop-offset-y: -94px
$shop-width: 25px
$shop-height: 21px
$shop-total-width: 152px
$shop-total-height: 117px
$shop-image: '../images/sprite.png'
$shop: (104px, 94px, -104px, -94px, 25px, 21px, 152px, 117px, '../images/sprite.png', 'shop', )
$twentyfive-name: 'twentyfive'
$twentyfive-x: 67px
$twentyfive-y: 29px
$twentyfive-offset-x: -67px
$twentyfive-offset-y: -29px
$twentyfive-width: 25px
$twentyfive-height: 25px
$twentyfive-total-width: 152px
$twentyfive-total-height: 117px
$twentyfive-image: '../images/sprite.png'
$twentyfive: (67px, 29px, -67px, -29px, 25px, 25px, 152px, 117px, '../images/sprite.png', 'twentyfive', )
$vk-name: 'vk'
$vk-x: 0px
$vk-y: 55px
$vk-offset-x: 0px
$vk-offset-y: -55px
$vk-width: 41px
$vk-height: 39px
$vk-total-width: 152px
$vk-total-height: 117px
$vk-image: '../images/sprite.png'
$vk: (0px, 55px, 0px, -55px, 41px, 39px, 152px, 117px, '../images/sprite.png', 'vk', )
$branch-2x-name: 'branch@2x'
$branch-2x-x: 80px
$branch-2x-y: 0px
$branch-2x-offset-x: -80px
$branch-2x-offset-y: 0px
$branch-2x-width: 144px
$branch-2x-height: 58px
$branch-2x-total-width: 304px
$branch-2x-total-height: 234px
$branch-2x-image: '../images/sprite@2x.png'
$branch-2x: (80px, 0px, -80px, 0px, 144px, 58px, 304px, 234px, '../images/sprite@2x.png', 'branch@2x', )
$brilliant-2x-name: 'brilliant@2x'
$brilliant-2x-x: 156px
$brilliant-2x-y: 188px
$brilliant-2x-offset-x: -156px
$brilliant-2x-offset-y: -188px
$brilliant-2x-width: 52px
$brilliant-2x-height: 44px
$brilliant-2x-total-width: 304px
$brilliant-2x-total-height: 234px
$brilliant-2x-image: '../images/sprite@2x.png'
$brilliant-2x: (156px, 188px, -156px, -188px, 52px, 44px, 304px, 234px, '../images/sprite@2x.png', 'brilliant@2x', )
$check-2x-name: 'check@2x'
$check-2x-x: 80px
$check-2x-y: 58px
$check-2x-offset-x: -80px
$check-2x-offset-y: -58px
$check-2x-width: 54px
$check-2x-height: 52px
$check-2x-total-width: 304px
$check-2x-total-height: 234px
$check-2x-image: '../images/sprite@2x.png'
$check-2x: (80px, 58px, -80px, -58px, 54px, 52px, 304px, 234px, '../images/sprite@2x.png', 'check@2x', )
$classmates-2x-name: 'classmates@2x'
$classmates-2x-x: 224px
$classmates-2x-y: 78px
$classmates-2x-offset-x: -224px
$classmates-2x-offset-y: -78px
$classmates-2x-width: 78px
$classmates-2x-height: 78px
$classmates-2x-total-width: 304px
$classmates-2x-total-height: 234px
$classmates-2x-image: '../images/sprite@2x.png'
$classmates-2x: (224px, 78px, -224px, -78px, 78px, 78px, 304px, 234px, '../images/sprite@2x.png', 'classmates@2x', )
$cross-2x-name: 'cross@2x'
$cross-2x-x: 224px
$cross-2x-y: 156px
$cross-2x-offset-x: -224px
$cross-2x-offset-y: -156px
$cross-2x-width: 26px
$cross-2x-height: 26px
$cross-2x-total-width: 304px
$cross-2x-total-height: 234px
$cross-2x-image: '../images/sprite@2x.png'
$cross-2x: (224px, 156px, -224px, -156px, 26px, 26px, 304px, 234px, '../images/sprite@2x.png', 'cross@2x', )
$crossgray-2x-name: 'crossgray@2x'
$crossgray-2x-x: 250px
$crossgray-2x-y: 156px
$crossgray-2x-offset-x: -250px
$crossgray-2x-offset-y: -156px
$crossgray-2x-width: 20px
$crossgray-2x-height: 20px
$crossgray-2x-total-width: 304px
$crossgray-2x-total-height: 234px
$crossgray-2x-image: '../images/sprite@2x.png'
$crossgray-2x: (250px, 156px, -250px, -156px, 20px, 20px, 304px, 234px, '../images/sprite@2x.png', 'crossgray@2x', )
$f-2x-name: 'f@2x'
$f-2x-x: 224px
$f-2x-y: 0px
$f-2x-offset-x: -224px
$f-2x-offset-y: 0px
$f-2x-width: 80px
$f-2x-height: 78px
$f-2x-total-width: 304px
$f-2x-total-height: 234px
$f-2x-image: '../images/sprite@2x.png'
$f-2x: (224px, 0px, -224px, 0px, 80px, 78px, 304px, 234px, '../images/sprite@2x.png', 'f@2x', )
$factory-2x-name: 'factory@2x'
$factory-2x-x: 104px
$factory-2x-y: 188px
$factory-2x-offset-x: -104px
$factory-2x-offset-y: -188px
$factory-2x-width: 52px
$factory-2x-height: 44px
$factory-2x-total-width: 304px
$factory-2x-total-height: 234px
$factory-2x-image: '../images/sprite@2x.png'
$factory-2x: (104px, 188px, -104px, -188px, 52px, 44px, 304px, 234px, '../images/sprite@2x.png', 'factory@2x', )
$heart-2x-name: 'heart@2x'
$heart-2x-x: 52px
$heart-2x-y: 188px
$heart-2x-offset-x: -52px
$heart-2x-offset-y: -188px
$heart-2x-width: 52px
$heart-2x-height: 44px
$heart-2x-total-width: 304px
$heart-2x-total-height: 234px
$heart-2x-image: '../images/sprite@2x.png'
$heart-2x: (52px, 188px, -52px, -188px, 52px, 44px, 304px, 234px, '../images/sprite@2x.png', 'heart@2x', )
$instagram-2x-name: 'instagram@2x'
$instagram-2x-x: 82px
$instagram-2x-y: 110px
$instagram-2x-offset-x: -82px
$instagram-2x-offset-y: -110px
$instagram-2x-width: 82px
$instagram-2x-height: 78px
$instagram-2x-total-width: 304px
$instagram-2x-total-height: 234px
$instagram-2x-image: '../images/sprite@2x.png'
$instagram-2x: (82px, 110px, -82px, -110px, 82px, 78px, 304px, 234px, '../images/sprite@2x.png', 'instagram@2x', )
$magnifier-2x-name: 'magnifier@2x'
$magnifier-2x-x: 184px
$magnifier-2x-y: 58px
$magnifier-2x-offset-x: -184px
$magnifier-2x-offset-y: -58px
$magnifier-2x-width: 36px
$magnifier-2x-height: 38px
$magnifier-2x-total-width: 304px
$magnifier-2x-total-height: 234px
$magnifier-2x-image: '../images/sprite@2x.png'
$magnifier-2x: (184px, 58px, -184px, -58px, 36px, 38px, 304px, 234px, '../images/sprite@2x.png', 'magnifier@2x', )
$man-2x-name: 'man@2x'
$man-2x-x: 164px
$man-2x-y: 110px
$man-2x-offset-x: -164px
$man-2x-offset-y: -110px
$man-2x-width: 46px
$man-2x-height: 56px
$man-2x-total-width: 304px
$man-2x-total-height: 234px
$man-2x-image: '../images/sprite@2x.png'
$man-2x: (164px, 110px, -164px, -110px, 46px, 56px, 304px, 234px, '../images/sprite@2x.png', 'man@2x', )
$marker-2x-name: 'marker@2x'
$marker-2x-x: 0px
$marker-2x-y: 0px
$marker-2x-offset-x: 0px
$marker-2x-offset-y: 0px
$marker-2x-width: 80px
$marker-2x-height: 110px
$marker-2x-total-width: 304px
$marker-2x-total-height: 234px
$marker-2x-image: '../images/sprite@2x.png'
$marker-2x: (0px, 0px, 0px, 0px, 80px, 110px, 304px, 234px, '../images/sprite@2x.png', 'marker@2x', )
$rowsup-2x-name: 'rowsup@2x'
$rowsup-2x-x: 0px
$rowsup-2x-y: 188px
$rowsup-2x-offset-x: 0px
$rowsup-2x-offset-y: -188px
$rowsup-2x-width: 52px
$rowsup-2x-height: 46px
$rowsup-2x-total-width: 304px
$rowsup-2x-total-height: 234px
$rowsup-2x-image: '../images/sprite@2x.png'
$rowsup-2x: (0px, 188px, 0px, -188px, 52px, 46px, 304px, 234px, '../images/sprite@2x.png', 'rowsup@2x', )
$shop-2x-name: 'shop@2x'
$shop-2x-x: 208px
$shop-2x-y: 188px
$shop-2x-offset-x: -208px
$shop-2x-offset-y: -188px
$shop-2x-width: 50px
$shop-2x-height: 42px
$shop-2x-total-width: 304px
$shop-2x-total-height: 234px
$shop-2x-image: '../images/sprite@2x.png'
$shop-2x: (208px, 188px, -208px, -188px, 50px, 42px, 304px, 234px, '../images/sprite@2x.png', 'shop@2x', )
$twentyfive-2x-name: 'twentyfive@2x'
$twentyfive-2x-x: 134px
$twentyfive-2x-y: 58px
$twentyfive-2x-offset-x: -134px
$twentyfive-2x-offset-y: -58px
$twentyfive-2x-width: 50px
$twentyfive-2x-height: 50px
$twentyfive-2x-total-width: 304px
$twentyfive-2x-total-height: 234px
$twentyfive-2x-image: '../images/sprite@2x.png'
$twentyfive-2x: (134px, 58px, -134px, -58px, 50px, 50px, 304px, 234px, '../images/sprite@2x.png', 'twentyfive@2x', )
$vk-2x-name: 'vk@2x'
$vk-2x-x: 0px
$vk-2x-y: 110px
$vk-2x-offset-x: 0px
$vk-2x-offset-y: -110px
$vk-2x-width: 82px
$vk-2x-height: 78px
$vk-2x-total-width: 304px
$vk-2x-total-height: 234px
$vk-2x-image: '../images/sprite@2x.png'
$vk-2x: (0px, 110px, 0px, -110px, 82px, 78px, 304px, 234px, '../images/sprite@2x.png', 'vk@2x', )
$spritesheet-width: 152px
$spritesheet-height: 117px
$spritesheet-image: '../images/sprite.png'
$spritesheet-sprites: ($branch, $brilliant, $check, $classmates, $cross, $crossgray, $f, $factory, $heart, $instagram, $magnifier, $man, $marker, $rowsup, $shop, $twentyfive, $vk, )
$spritesheet: (152px, 117px, '../images/sprite.png', $spritesheet-sprites, )
$retina-spritesheet-width: 304px
$retina-spritesheet-height: 234px
$retina-spritesheet-image: '../images/sprite@2x.png'
$retina-spritesheet-sprites: ($branch-2x, $brilliant-2x, $check-2x, $classmates-2x, $cross-2x, $crossgray-2x, $f-2x, $factory-2x, $heart-2x, $instagram-2x, $magnifier-2x, $man-2x, $marker-2x, $rowsup-2x, $shop-2x, $twentyfive-2x, $vk-2x, )
$retina-spritesheet: (304px, 234px, '../images/sprite@2x.png', $retina-spritesheet-sprites, )

/*
  These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

  The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
  */
$branch-group-name: 'branch'
$branch-group: ('branch', $branch, $branch-2x, )
$brilliant-group-name: 'brilliant'
$brilliant-group: ('brilliant', $brilliant, $brilliant-2x, )
$check-group-name: 'check'
$check-group: ('check', $check, $check-2x, )
$classmates-group-name: 'classmates'
$classmates-group: ('classmates', $classmates, $classmates-2x, )
$cross-group-name: 'cross'
$cross-group: ('cross', $cross, $cross-2x, )
$crossgray-group-name: 'crossgray'
$crossgray-group: ('crossgray', $crossgray, $crossgray-2x, )
$f-group-name: 'f'
$f-group: ('f', $f, $f-2x, )
$factory-group-name: 'factory'
$factory-group: ('factory', $factory, $factory-2x, )
$heart-group-name: 'heart'
$heart-group: ('heart', $heart, $heart-2x, )
$instagram-group-name: 'instagram'
$instagram-group: ('instagram', $instagram, $instagram-2x, )
$magnifier-group-name: 'magnifier'
$magnifier-group: ('magnifier', $magnifier, $magnifier-2x, )
$man-group-name: 'man'
$man-group: ('man', $man, $man-2x, )
$marker-group-name: 'marker'
$marker-group: ('marker', $marker, $marker-2x, )
$rowsup-group-name: 'rowsup'
$rowsup-group: ('rowsup', $rowsup, $rowsup-2x, )
$shop-group-name: 'shop'
$shop-group: ('shop', $shop, $shop-2x, )
$twentyfive-group-name: 'twentyfive'
$twentyfive-group: ('twentyfive', $twentyfive, $twentyfive-2x, )
$vk-group-name: 'vk'
$vk-group: ('vk', $vk, $vk-2x, )
$retina-groups: ($branch-group, $brilliant-group, $check-group, $classmates-group, $cross-group, $crossgray-group, $f-group, $factory-group, $heart-group, $instagram-group, $magnifier-group, $man-group, $marker-group, $rowsup-group, $shop-group, $twentyfive-group, $vk-group, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
    It should be used with a "retina group" variable.

  The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

  $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, )

  .icon-home
    @include retina-sprite($icon-home-group)
  */
@mixin sprite-background-size($sprite)
  $sprite-total-width: nth($sprite, 7)
  $sprite-total-height: nth($sprite, 8)
  background-size: $sprite-total-width $sprite-total-height

@mixin retina-sprite($retina-group)
  $normal-sprite: nth($retina-group, 2)
  $retina-sprite: nth($retina-group, 3)
  @include sprite($normal-sprite)

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    @include sprite-image($retina-sprite)
    @include sprite-background-size($normal-sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)

/*
  The `retina-sprites` mixin generates a CSS rule and media query for retina groups
    This yields the same output as CSS retina template but can be overridden in SASS

  @include retina-sprites($retina-groups)
  */
@mixin retina-sprites($retina-groups)
  @each $retina-group in $retina-groups
    $sprite-name: nth($retina-group, 1)
    .#{$sprite-name}
      @include retina-sprite($retina-group)
