@import "reset"
@import "mixins"
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap"
@import "style-bootstrap"
@import "sprites"
@import "fonts"



.clean
	margin: 0
	padding: 0



.achievements-b
	padding-top: 13px
	padding-bottom: 10px
	font-size: 0

.achievements-b__circle
	display: inline-block
	vertical-align: middle
	width: 54px
	height: 54px
	border: 1px solid #fff
	-webkit-border-radius: 50%
	-moz-border-radius: 50%
	border-radius: 50%
	margin-right: 14px
	position: relative

.achievements-b__caption
	display: inline-block
	vertical-align: middle
	width: calc(100% - 69px)
	font-family: Roboto-Regular
	font-size: 14px
	color: #fff

.btn-close-wrap
	position: absolute
	top: 10px
	right: 10px

.service-b
	height: 150px
	padding: 25px 0
	border-bottom: 1px solid #e0e1e1

.service-b__item
	margin-right: 15%

	&:last-child
		margin-right: 0

.service-b__toggle
	display: flex
	position: relative
	z-index: 20
	align-items: center
	cursor: pointer

	&:hover, &:active, &:focus
		color: #f45302

		&:visited
			&:hover, &:active, &:focus
				color: #f45302

.call-b
	display: flex
	height: 100px
	align-items: center

.call-b__tel-b
	padding-top: 20px
	margin-right: 17%
	position: relative

.call-b__dd
	cursor: pointer
	+trans()

	&:hover, &:active, &:focus
		color: #f45302

		&:visited
			&:hover, &:active, &:focus
				color: #f45302

.call-b__list
	padding-bottom: 10px

.call-b__item
	margin-bottom: 10px
	font-family: Circle-Light
	font-size: 13px
	line-height: 17px

.call-b__text
	margin-bottom: 0
	position: relative
	z-index: 20
	font-family: Circle-Light
	font-size: 15px

.logo-b
	height: 100px
	display: flex
	align-items: center
	justify-content: center

.logo-b__link
	display: inline-block
	font-size: 0

.logo-b__img
	font-size: 0

.service-b__list
	display: flex
	height: 100px
	align-items: center
	justify-content: flex-end

.service-b__label
	font-family: Circle-Light
	font-size: 15px
	cursor: pointer
	+trans()

.save-b__item
	height: 70px
	padding: 15px 18px
	border-top: 1px solid #eff0f0
	display: flex
	align-items: center
	justify-content: space-between
	font-size: 0

	&:last-child
		padding-bottom: 1px solid #eff0f0

.save-b__text
	font-size: 15px

.save-b__text-strike
	text-decoration: line-through
	font-size: 11px
	color: #999999

.menu-header
	padding: 10px 0

.menu-header__left-b
	width: 78%

.menu-header__list
	width: 100%
	display: flex
	justify-content: space-between

.menu-header__item
	padding: 10px 10px 10px 0

	&:last-child
		padding-right: 0

.menu-header__link
	padding: 0
	text-transform: uppercase
	font-family: Circle-Regular
	font-size: 15px
	line-height: 15px
	+trans()

	&:hover, &:active, &:focus
		text-decoration: none
		color: #f45302

	&:visited
		&:hover, &:active, &:focus
			color: #f45302

.line-orange-anim
	position: relative
	&:after
		content: ""
		display: block
		width: 0
		height: 1px
		background: #f45302
		position: absolute
		top: 100%
		left: 50%
		transform: translateX(-50%)
		+trans()

	&:hover, &:active, &:focus
		&:after
			width: 100%

.menu-header__right-b
	width: 22%
	padding-left: 7%
	margin-right: 0

.menu-header__form
	padding-top: 2px
	position: relative

.menu-header__entry-field
	width: 100%
	height: 34px
	background: #f0f0f0

	&:focus
		box-shadow: 0 2px 5px rgba(0,0,0,0.2)

.menu-header__btn
	background: none
	position: absolute
	top: 50%
	right: 5px
	transform: translateY(-50%)
	font-size: 0

.slider-b__container
	display: block
	height: 100%
	position: absolute
	top: 0
	left: 50%
	transform: translateX(-50%)
	font-family: Circle-Light

.slider-b__text-box
	font-size: 17px
	position: absolute
	top: 50%
	left: 20px
	transform: translateY(-50%)

.slider-b__item
	position:  relative
	overflow: hidden

	&:before
		content: ""
		margin-top: 30%
		display: block

.prop-bg
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0

.arrow-left
	width: 20px
	height: 20px
	display: block
	border-top: 2px solid #a7a9ac
	border-left: 2px solid #a7a9ac
	position: absolute
	top: 50%
	left: 20px
	transform: translateY(-50%) rotate(-45deg)

.arrow-right
	width: 20px
	height: 20px
	display: block
	border-top: 2px solid #a7a9ac
	border-left: 2px solid #a7a9ac
	position: absolute
	top: 50%
	right: 20px
	transform: translateY(-50%) rotate(135deg)

.filter-b
	padding: 40px 0

.filter-b__list
	display: flex
	height: 40px
	margin-bottom: 0
	align-items: center
	justify-content: flex-start

	&_brdr
		position: relative

		&:after
			content: ""
			display: block
			width: 1px
			height: 50px
			border-right: 1px dotted #a1a1a1
			position: absolute
			top: 50%
			right: -5px
			transform: translateY(-50%)

	&_pl
		padding-left: 40px

.filter-b__item
	margin-right: 15%
	position: relative
	flex: 0 1 auto
	font-family: Circle-Light
	font-size: 17px
	line-height: 19px

	&:last-child
		margin-right: 0

.filter-b__text
	text-transform: uppercase
	font-size: 15px

.filter-b__label
	cursor: pointer
	+trans()

	&_dd
		vertical-align: middle
		font-size: 15px

	&:hover
		color: #f26218


.filter-b__switch
	width: 100%
	height: 100%
	margin: 0
	position: absolute
	top: 0
	left: 0
	opacity: 0
	z-index: -10
	cursor: pointer

	&:checked + .line-orange-anim
		color: #f26218

		&:after
			width: 100%

.filter-b__btn
	float: right

.filter-b__item-dd-fst-lvl
	margin-bottom: 10px
	position: relative

.filter-b__tumbler
	display: block
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 10
	opacity: 0
	cursor: pointer

	&:checked + .checkbox,
	&:checked + .radio
		border-color: #f9b897

	&_checkbox
		&:checked + .checkbox
			&:before
				content: ""
				transform: rotate(-45deg) scale(1)
				opacity: 1

	&_radio
		&:checked + .radio
			&:before
				content: ""
				transform: translate(-50%, -50%) scale(1)
				opacity: 1

	&:hover ~ .filter-b__label
		color: #f26218

.filter-b__parent
	margin-bottom: 10px
	position: relative

.filter-b__list-dd-snd-lvl
	padding-left: 30px

.filter-b__item-dd-snd-lvl
	margin-bottom: 10px
	position: relative

	&:first-child
		&:before
			height: 20px

	&:last-child
		&:before
			content: ""
			display: block
			width: 1px
			height: 15px
			background: #eeeeee
			position: absolute
			top: -3px
			left: -21px
			transform: translateY(0)

	&:before
		content: ""
		display: block
		width: 1px
		height: 50px
		background: #eeeeee
		position: absolute
		top: 50%
		left: -21px
		transform: translateY(-50%)

	&:after
		content: ""
		display: block
		width: 15px
		height: 1px
		background: #eeeeee
		position: absolute
		top: 50%
		left: -20px

.masonry-b
	font-family: Circle-Light

.masonry-b__brick
	display: block
	margin: 0 2% 2% 0
	position: relative
	overflow: hidden

	&_left
		float: left

		&:before
			content: ""
			display: block
			margin-top: 100%

		&-small
			width: 32%

		&-big
			width: 66%

			&:before

				content: ""
				display: block
				margin-top: 50%
	&_right
		width: 32%
		float: right
		margin-right: 0

		&:before
			content: ""
			display: block
			margin-top: 209%

	&:hover
		.masonry-b__bg
			transform: scale(1.1)

.masonry-b__bg
	display: block
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	+trans()

.masonry-b__content-b
	display: block
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	color: #000

	&:hover, &:active, &:focus
		color: #000

	&:visited
		&:hover, &:active, &:focus
			color: #000

.masonry-b__limitles-b
	padding: 10% 10%
	position: absolute
	bottom: 0
	left: 0

.masonry-b__gift-b
	padding: 15% 7% 5% 7%
	background: #fff
	position: absolute
	top: 20px
	bottom: 20px
	left: 20px
	right: 20px
	font-size: 17px

.masonry-b__p-wrap
	padding: 0 10px

.masonry-b__collection-b
	padding: 7% 10% 10% 10%
	background: #fff
	position: absolute
	bottom: 30px
	left: 30px
	right: 30px
	font-size: 17px

.masonry-b__pink-gold-b
	padding: 10% 20% 5% 5%
	position: absolute
	top: 0
	right: 0
	font-size: 17px

.masonry-b__circle-b
	padding: 22% 12% 12% 12%
	background: #fff
	-webkit-border-radius: 50%
	-moz-border-radius: 50%
	border-radius: 50%
	position: absolute
	top: 10%
	bottom: 10%
	left: 10%
	right: 10%
	font-size: 17px

.masonry-b__paris-b
	padding: 10% 10%
	position: absolute
	top: 0
	left: 0

.carousel-b
	padding: 50px 0 30px 0
	font-family: Circle-Light
	position: relative

	&:after
		content: ""
		display: block
		height: 1px
		width: 100%
		background: #e0e1e1
		position: absolute
		bottom: 40px
		left: 0
		z-index: 0

.owl-carousel
	padding: 0 50px 0 50px

	.owl-nav
		.owl-prev
			width: 50px
			height: 90%
			background: none
			position: absolute
			top: 0
			left: 0
			font-size: 0
			opacity: 1
			+trans()

			&:hover
				background: #efefef
				opacity: 1

			&:before
				display: block
				content: ""
				width: 20px
				height: 20px
				border-top: 2px solid #a7a9ac
				border-left: 2px solid #a7a9ac
				position: absolute
				top: 50%
				left: 20px
				transform: translateY(-50%) rotate(-45deg)

		.owl-next
			width: 50px
			height: 90%
			background: none
			position: absolute
			top: 0
			right: 0
			font-size: 0
			opacity: 1
			+trans()

			&:hover
				background: #efefef
				opacity: 1

			&:before
				content: ""
				display: block
				width: 20px
				height: 20px
				border-top: 2px solid #a7a9ac
				border-left: 2px solid #a7a9ac
				position: absolute
				top: 50%
				right: 20px
				transform: translateY(-50%) rotate(135deg)

.carousel-b__caption
	font-size: 17px

.carousel-b__item
	padding: 2px 2px 4px 2px

.product-b
	padding: 30px 10px 20px 10px
	+trans()

	&:hover
		box-shadow: 0 2px 5px rgba(0,0,0,0.2)

		.product-b__slide-toggle-box
			opacity: 1

		.product-b__popup
			opacity: 1

.product-b__infographics
	padding: 0 10px
	position: relative
	z-index: 50

.product-b__circle
	width: 30px
	height: 30px
	margin-left: 5px
	border: 2px solid #e9e3de
	-webkit-border-radius: 50%
	-moz-border-radius: 50%
	border-radius: 50%
	float: right
	line-height: 30px
	text-transform: uppercase
	text-align: center
	font-family: Circle-Regular
	font-style: normal
	font-size: 10px
	color: #b18b78

.product-b__link-img
	display: block
	height: 180px
	margin-bottom: 10px
	position: relative

.product-b__price
	font-family: Circle-Regular
	font-size: 20px

.product-b__description
	font-family: Circle-Light
	font-size: 12px
	color: #9a9ea0

.product-b__popup
	opacity: 0
	padding-top: 10px
	+trans()

.product-b__slide-box
	display: block
	width: 100%
	height: 100%
	position: relative

.product-b__slide
	display: block
	width: 100%
	height: 100%
	line-height: 180px
	position: absolute
	top: 0
	left: 0
	overflow: hidden
	z-index: 0
	opacity: 0
	+trans()

	&.active
		z-index: 10
		opacity: 1

.product-b__img
	width: 100%

.product-b__slide-toggle-box
	margin-bottom: 0
	display: block
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 20
	font-size: 0
	opacity: 0
	+trans()

.product-b__slide-toggle
	display: inline-block
	width: 44px
	height: 100%
	margin-right: 1px
	border-bottom: 2px solid #d5d5d5
	+trans()

	&:last-child
		margin-right: 0

	&:hover
		border-bottom: 2px solid #f26417

.feedback-b
	height: 105px
	background: url("../images/feedback-bg.jpg") no-repeat #f0ebe6

.footer
	padding: 65px 0 50px 0
	position: relative
	font-family: Circle-Regular
	font-size: 12px

.soc-b
	margin-bottom: 35px

.soc-b__item
	display: inline-block
	margin-right: 10px
	font-size: 0

.soc-b__link
	display: block
	font-size: 0

.nav
	display: flex
	align-items: flex-start
	justify-content: space-between

.nav__col
	flex: 1 0 auto

.nav__item
	margin-bottom: 7px
	color: #a5a5a5

	&:first-child
		margin-bottom: 14px

		.nav__link
			text-transform: uppercase
			color: #000

.nav__link
	color: #a5a5a5

.design-b
	text-align: right
	font-size: 14px



.mb-25
	margin-bottom: 25px
.mb-30
	margin-bottom: 30px

.mb-40
	margin-bottom: 40px

.mr-0
	margin-right: 0

.ml-5
	margin-left: 5px

.mr-5
	margin-right: 5px

.mr-10
	margin-right: 10px

.f-l
	float: left

.f-r
	float: right

.p-rel
	position: relative

.bg-gray
	background: #3c5568

.tracery-header
	&:after
		content: ""
		display: block
		height: 8px
		background: url("../images/tracery.jpg")

.tracery-footer
	&:before
		content: ""
		display: block
		width: 100%
		height: 8px
		background: url("../images/tracery.jpg")
		position: absolute
		top: 0
		left: 0

.text-gray
	color: #9a9ea0

.text-white
	color: #fff

.ico
	display: inline-block

	&_abs
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

.ico-text
	height: 18px
	font-size: 18px
	font-style: normal
	line-height: 18px
	color: #fff

.ico-factory
	+retina-sprite($factory-group)

.ico-rowsup
	+retina-sprite($rowsup-group)

.ico-shop
	+retina-sprite($shop-group)

.ico-twentyfive
	+retina-sprite($twentyfive-group)

.ico-man
	+retina-sprite($man-group)

.ico-heart
	+retina-sprite($heart-group)

.ico-magnifier
	+retina-sprite($magnifier-group)

.ico-branch
	+retina-sprite($branch-group)

.ico-marker
	+retina-sprite($marker-group)

.ico-f
	+retina-sprite($f-group)

.ico-instagram
	+retina-sprite($instagram-group)

.ico-vk
	+retina-sprite($vk-group)

.ico-classmates
	+retina-sprite($classmates-group)

.ico-brilliant
	+retina-sprite($brilliant-group)

.ico-check
	+retina-sprite($check-group)

.arrow-down
	padding-right: 15px
	position: relative

	&:before
		content: ''
		width: 7px
		height: 7px
		border-right: 2px solid #c8c5c4
		border-bottom: 2px solid #c8c5c4
		position: absolute
		top: 30%
		right: 0
		+rotate(45)
		+trans()

	&:hover, &:focus &:active
		&:before
			border-right: 2px solid #f26218
			border-bottom: 2px solid #f26218

.circle-red
	width: 15px
	height: 15px
	padding: 0 3px
	-webkit-border-radius: 50%
	-moz-border-radius: 50%
	border-radius: 50%
	background: #f45302
	position: absolute
	top: -5px
	right: 3px
	text-align: center
	font-family: Circle-Light
	font-size: 12px
	color: #fff

.tel
	font-size: 26px
	cursor: pointer
	position: relative
	z-index: 20
	+trans()

	&:hover, &:active, &:focus
		text-decoration: none
		color: #f45302

		&:visited
			&:hover, &:active, &:focus
				text-decoration: none
				color: #f45302

.btn-close
	cursor: pointer
	+retina-sprite($cross-group)

.btn-close-gray
	cursor: pointer
	+retina-sprite($crossgray-group)

.btn_white
	padding: 0 20px
	background: #fff
	-webkit-border-radius: 0
	-moz-border-radius: 0
	border-radius: 0
	line-height: 40px
	box-shadow: 0 2px 5px rgba(0,0,0,0.2)
	text-transform: uppercase
	+trans()

	&:hover, &:active, &:focus
		background: #f26417
		color: #fff

	&:visited
		&:hover, &:active, &:focus
			background: #f26417
			color: #fff

.btn_orange
	padding: 0 40px
	background: #f26417
	border: 1px solid #f26417
	-webkit-border-radius: 0
	-moz-border-radius: 0
	border-radius: 0
	line-height: 40px
	text-transform: uppercase
	color: #fff
	+trans()

	&:hover, &:active, &:focus
		background: none
		border: 1px solid #000
		color: #000

	&:visited
		&:hover, &:active, &:focus
			background: #f26417
			border: 1px solid #000
			color: #000

.dropdown-menu
	&_call-b
		width: 285px
		padding: 110px 40px 20px 40px
		position: absolute
		top: 10px
		left: -40px
		z-index: 10
		font-family: Circle-Light

	&_save-b
		width: 200px
		padding-top: 60px
		position: absolute
		top: -20px
		left: -15px
		z-index: 10
		font-family: Circle-Light

	&_filter-b
		width: 180px
		padding: 20px
		position: absolute
		top: calc(100% + 10px)
		left: -5px
		z-index: 10
		font-family: Circle-Light
		font-size: 17px
		line-height: 19px

		&:before
			content: ""
			border-left: 7px solid transparent
			border-right: 7px solid transparent
			border-bottom: 7px solid #fff
			position: absolute
			top: -7px
			left: 17px
			z-index: 10

		&:after
			content: ""
			border-left: 8px solid transparent
			border-right: 8px solid transparent
			border-bottom: 8px solid rgba(100,100,100,0.1)
			position: absolute
			top: -8px
			left: 16px
			z-index: 0



@import "style-adaptive.sass"