{% extends "layouts/app.twig" %}

{% block pageTitle %}KARATOV{% endblock %}

{% block content %}
    <section id="myCarousel" class="carousel slide slider-b" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item slider-b__item active">
                <div class="prop-bg" style="background: url('images/rings.png') center, center; background-size: cover"></div>
                <div class="container slider-b__container">
                    <div class="slider-b__text-box">
                        <h1 class="clean mb-30">Моя история</h1>
                        <p class="mb-25">Каждый из нас — уникальный, ни на кого не похожий мир.<br>Создайте неповторимое украшение и расскажите о себе.
                        </p>
                        <a class="btn btn_white">Перейти к коллекции</a>
                    </div>
                </div>
            </div>
            <div class="item slider-b__item">
                <div class="prop-bg" style="background: url('images/rings.png') center, center; background-size: cover"></div>
                <div class="container slider-b__container">
                    <div class="slider-b__text-box">
                        <h1 class="clean mb-30">Моя история</h1>
                        <p class="mb-25">Каждый из нас — уникальный, ни на кого не похожий мир.<br>Создайте неповторимое украшение и расскажите о себе.
                        </p>
                        <a class="btn btn_white">Перейти к коллекции</a>
                    </div>
                </div>
            </div>
            <div class="item slider-b__item">
                <div class="prop-bg" style="background: url('images/rings.png') center, center; background-size: cover"></div>
                <div class="container slider-b__container">
                    <div class="slider-b__text-box">
                        <h1 class="clean mb-30">Моя история</h1>
                        <p class="mb-25">Каждый из нас — уникальный, ни на кого не похожий мир.<br>Создайте неповторимое украшение и расскажите о себе.
                        </p>
                        <a class="btn btn_white">Перейти к коллекции</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="arrow-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="arrow-right" aria-hidden="true"></span>
        </a>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    </section>

    <section class="container">
        <form class="filter-b">
            <div class="row">
                <div class="col-md-4">
                    <ul class="filter-b__list filter-b__list_brdr">
                        <li class="filter-b__item">
                            <span class="filter-b__text text-gray">Я ИЩУ:</span></li>
                        <li class="filter-b__item">
                            <input type="radio" id="filter-switch-gift" class="filter-b__switch" title="filter-switch" name="filter-switch">
                            <label for="filter-switch-gift" class="filter-b__label line-orange-anim">В подарок</label>
                        </li>
                        <li class="filter-b__item">
                            <input type="radio" id="filter-switch-himself" class="filter-b__switch" title="filter-switch" name="filter-switch">
                            <label for="filter-switch-himself" class="filter-b__label line-orange-anim">Для себя</label>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="filter-b__list filter-b__list_pl">
                        <li class="filter-b__item"><span class="filter-b__label arrow-down">Вид</span></li>
                        <li class="filter-b__item">
                            <div class="dropdown">
                                <span class="dropdown-toggle filter-b__label arrow-down" data-toggle="dropdown">Металл</span>
                                <div class="dropdown-menu dropdown-menu_filter-b" role="menu" aria-labelledby="dropdownMenu">
                                    <ul class="filter-b__list-dd-fst-lvl">
                                        <li class="filter-b__item-dd-fst-lvl">
                                            <div>
                                                <div class="filter-b__parent">
                                                    <input type="checkbox" class="filter-b__tumbler filter-b__tumbler_checkbox" title="filter-checkbox">
                                                    <i class="checkbox"></i>
                                                    <label class="filter-b__label filter-b__label_dd">Золото</label>
                                                </div>
                                                <ul class="filter-b__list-dd-snd-lvl">
                                                    <li class="filter-b__item-dd-snd-lvl">
                                                        <input type="checkbox" class="filter-b__tumbler filter-b__tumbler_checkbox" title="filter-checkbox">
                                                        <i class="checkbox"></i>
                                                        <label class="filter-b__label filter-b__label_dd">Красное</label>
                                                    </li>
                                                    <li class="filter-b__item-dd-snd-lvl">
                                                        <input type="checkbox" class="filter-b__tumbler filter-b__tumbler_checkbox" title="filter-checkbox">
                                                        <i class="checkbox"></i>
                                                        <label class="filter-b__label filter-b__label_dd">Желтое</label>
                                                    </li>
                                                    <li class="filter-b__item-dd-snd-lvl">
                                                        <input type="checkbox" class="filter-b__tumbler filter-b__tumbler_checkbox" title="filter-checkbox">
                                                        <i class="checkbox"></i>
                                                        <label class="filter-b__label filter-b__label_dd">Белое</label>
                                                    </li>
                                                    <li class="filter-b__item-dd-snd-lvl">
                                                        <input type="checkbox" class="filter-b__tumbler filter-b__tumbler_checkbox" title="filter-checkbox">
                                                        <i class="checkbox"></i>
                                                        <label class="filter-b__label filter-b__label_dd">Мультицвет</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="filter-b__item-dd-fst-lvl">
                                            <input type="radio" class="filter-b__tumbler filter-b__tumbler_radio" title="filter-checkbox" name="metal">
                                            <i class="radio"></i>
                                            <label class="filter-b__label filter-b__label_dd">Платина</label>
                                        </li>
                                        <li class="filter-b__item-dd-fst-lvl">
                                            <input type="radio" class="filter-b__tumbler filter-b__tumbler_radio" title="filter-checkbox" name="metal">
                                            <i class="radio"></i>
                                            <label class="filter-b__label filter-b__label_dd">Серебро</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="filter-b__item"><span class="filter-b__label arrow-down">Вставка</span></li>
                        <li class="filter-b__item"><span class="filter-b__label arrow-down">Цена</span></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-default filter-b__btn">Подобрать из <span>32 540</span></button>
                </div>
            </div>
        </form>
    </section>

    <section class="container masonry-b">
        <a class="masonry-b__brick masonry-b__brick_left masonry-b__brick_left-small" href="#">
            <div class="masonry-b__bg" style="background: url('images/limitless.jpg') no-repeat center, center; background-size: cover"></div>
            <div class="masonry-b__content-b">
                <div class="masonry-b__limitles-b">
                    <h2 class="text-white mb-25">Karatov бесконечность</h2>
                    <span class="btn btn_white">Перейти к коллекции</span>
                </div>
            </div>
        </a>
        <a class="masonry-b__brick masonry-b__brick_left masonry-b__brick_left-small" href="#">
            <div class="masonry-b__bg" style="background: url('images/tracery-masonry.jpg') no-repeat center, center; background-size: cover"></div>
            <div class="masonry-b__content-b">
                <div class="masonry-b__gift-b text-center">
                    <i class="ico ico-branch"></i>
                    <h2 class="mb-25">Идеи подарков KARATOV</h2>
                    <div class="masonry-b__p-wrap">
                        <p>Каждый из наших друзей уникальный, ни на кого не похожий мир</p>
                    </div>
                </div>
            </div>
        </a>
        <a class="masonry-b__brick masonry-b__brick_right" href="#">
            <div class="masonry-b__bg" style="background: url('images/couple.jpg') no-repeat center, center; background-size: cover"></div>
            <div class="masonry-b__content-b">
                <div class="masonry-b__collection-b text-center">
                    <h2 class="mb-25">Солнечные коллекции</h2>
                    <p>Каждый из нас — уникальный, ни на кого  не похожий мир</p>
                </div>
            </div>
        </a>
        <a class="masonry-b__brick masonry-b__brick_left masonry-b__brick_left-big" href="#">
            <div class="masonry-b__bg" style="background: url('images/pink-gold.jpg') no-repeat center, center; background-size: cover"></div>
            <div class="masonry-b__content-b">
                <div class="masonry-b__pink-gold-b">
                    <h2 class="mb-25">Розовое золото</h2>
                    <span class="btn btn_white">Перейти к коллекции</span>
                </div>
            </div>
        </a>
        <a class="masonry-b__brick masonry-b__brick_left masonry-b__brick_left-small" href="#">
            <div class="masonry-b__bg" style="background: url('images/map.jpg') no-repeat center, center; background-size: cover"></div>
            <div class="masonry-b__content-b">
                <div class="masonry-b__circle-b text-center">
                    <i class="ico ico-marker"></i>
                    <h2 class="mb-25">Где купить?</h2>
                </div>
            </div>
        </a>
        <a class="masonry-b__brick masonry-b__brick_left masonry-b__brick_left-small" href="#">
            <div class="masonry-b__bg" style="background: url('images/woman.jpg') no-repeat center, center; background-size: cover"></div>
            <div class="masonry-b__content-b">
                <div class="masonry-b__limitles-b">
                    <h2 class="text-white mb-25">Karatov change</h2>
                    <span class="btn btn_white">Перейти к коллекции</span>
                </div>
            </div>
        </a>
        <a class="masonry-b__brick masonry-b__brick_left masonry-b__brick_left-small mr-0" href="#">
            <div class="masonry-b__bg" style="background: url('images/paris.jpg') no-repeat center, center; background-size: cover"></div>
            <div class="masonry-b__content-b">
                <div class="masonry-b__paris-b">
                    <h2 class="mb-25">Karatov change</h2>
                    <span class="btn btn_white">Перейти к коллекции</span>
                </div>
            </div>
        </a>
    </section>
    <section class="carousel-b carousel-b_catalog">
        <div class="container text-center">
            <p class="carousel-b__caption text-uppercase text-gray">140 клиентов онлайн</p>
            <h3 class="clean mb-40">Сейчас просматривают эти украшения</h3>
            <div class="owl-carousel owl-carousel_catalog">
                <div class="carousel-b__item">
                    <div class="product-b">
                        <div class="product-b__infographics clearfix">
                            <i class="ico ico-brilliant f-l mr-5"></i>
                            <i class="ico product-b__circle">Хит</i>
                            <i class="ico ico-check f-r ml-5"></i>
                        </div>
                        <a class="product-b__link-img" href="#">
                            <div class="product-b__slide-box">
                                <div class="product-b__slide active" data-slide="1">
                                    <img class="product-b__img" src="images/ring-big-1.png">
                                </div>
                                <div class="product-b__slide" data-slide="2">
                                    <img class="product-b__img" src="images/ring-big-2.png">
                                </div>
                                <div class="product-b__slide" data-slide="3">
                                    <img class="product-b__img" src="images/ring-big-3.png">
                                </div>
                                <div class="product-b__slide" data-slide="4">
                                    <img class="product-b__img" src="images/ring-big-1.png">
                                </div>
                            </div>
                            <ul class="product-b__slide-toggle-box">
                                <li class="product-b__slide-toggle" data-slide-toggle="1"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="2"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="3"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="4"></li>
                            </ul>
                        </a>
                        <p class="clean product-b__price">55 000 р</p>
                        <p class="clean product-b__description">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        <div class="product-b__popup">
                            <div class="mb-20">
                                <a class="btn btn_orange">Где купить</a>
                            </div>
                            <div class="checkbox-save">
                                <input type="checkbox" class="checkbox-save__input" title="save">
                                <div class="checkbox-save__ico-box">
                                    <i class="ico-heart-black checkbox-save__ico checkbox-save__ico_first"></i>
                                    <i class="ico-heart-orange checkbox-save__ico checkbox-save__ico_second"></i>
                                </div>
                                <label class="checkbox-save__label">
                                    <span class="checkbox-save__text-first">Сохранить</span>
                                    <span class="checkbox-save__text-second">Сохранено</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-b__item">
                    <div class="product-b">
                        <div class="product-b__infographics clearfix">
                            <i class="ico ico-brilliant f-l mr-5"></i>
                            <i class="ico product-b__circle">Хит</i>
                            <i class="ico ico-check f-r ml-5"></i>
                        </div>
                        <a class="product-b__link-img" href="#">
                            <div class="product-b__slide-box">
                                <div class="product-b__slide active" data-slide="1">
                                    <img class="product-b__img" src="images/ring-big-2.png">
                                </div>
                                <div class="product-b__slide" data-slide="2">
                                    <img class="product-b__img" src="images/ring-big-3.png">
                                </div>
                                <div class="product-b__slide" data-slide="3">
                                    <img class="product-b__img" src="images/ring-big-1.png">
                                </div>
                                <div class="product-b__slide" data-slide="4">
                                    <img class="product-b__img" src="images/ring-big-2.png">
                                </div>
                            </div>
                            <ul class="product-b__slide-toggle-box">
                                <li class="product-b__slide-toggle" data-slide-toggle="1"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="2"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="3"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="4"></li>
                            </ul>
                        </a>
                        <p class="clean product-b__price">55 000 р</p>
                        <p class="clean product-b__description">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        <div class="product-b__popup">
                            <div class="mb-20">
                                <a class="btn btn_orange">Где купить</a>
                            </div>
                            <div class="checkbox-save">
                                <input type="checkbox" class="checkbox-save__input" title="save">
                                <div class="checkbox-save__ico-box">
                                    <i class="ico-heart-black checkbox-save__ico checkbox-save__ico_first"></i>
                                    <i class="ico-heart-orange checkbox-save__ico checkbox-save__ico_second"></i>
                                </div>
                                <label class="checkbox-save__label">
                                    <span class="checkbox-save__text-first">Сохранить</span>
                                    <span class="checkbox-save__text-second">Сохранено</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-b__item">
                    <div class="product-b">
                        <div class="product-b__infographics clearfix">
                            <i class="ico ico-brilliant f-l mr-5"></i>
                            <i class="ico product-b__circle">Хит</i>
                            <i class="ico ico-check f-r ml-5"></i>
                        </div>
                        <a class="product-b__link-img" href="#">
                            <div class="product-b__slide-box">
                                <div class="product-b__slide active" data-slide="1">
                                    <img class="product-b__img" src="images/ring-big-3.png">
                                </div>
                                <div class="product-b__slide" data-slide="2">
                                    <img class="product-b__img" src="images/ring-big-1.png">
                                </div>
                                <div class="product-b__slide" data-slide="3">
                                    <img class="product-b__img" src="images/ring-big-2.png">
                                </div>
                                <div class="product-b__slide" data-slide="4">
                                    <img class="product-b__img" src="images/ring-big-3.png">
                                </div>
                            </div>
                            <ul class="product-b__slide-toggle-box">
                                <li class="product-b__slide-toggle" data-slide-toggle="1"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="2"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="3"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="4"></li>
                            </ul>
                        </a>
                        <p class="clean product-b__price">55 000 р</p>
                        <p class="clean product-b__description">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        <div class="product-b__popup">
                            <div class="mb-20">
                                <a class="btn btn_orange">Где купить</a>
                            </div>
                            <div class="checkbox-save">
                                <input type="checkbox" class="checkbox-save__input" title="save">
                                <div class="checkbox-save__ico-box">
                                    <i class="ico-heart-black checkbox-save__ico checkbox-save__ico_first"></i>
                                    <i class="ico-heart-orange checkbox-save__ico checkbox-save__ico_second"></i>
                                </div>
                                <label class="checkbox-save__label">
                                    <span class="checkbox-save__text-first">Сохранить</span>
                                    <span class="checkbox-save__text-second">Сохранено</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-b__item">
                    <div class="product-b">
                        <div class="product-b__infographics clearfix">
                            <i class="ico ico-brilliant f-l mr-5"></i>
                            <i class="ico product-b__circle">Хит</i>
                            <i class="ico ico-check f-r ml-5"></i>
                        </div>
                        <a class="product-b__link-img" href="#">
                            <div class="product-b__slide-box">
                                <div class="product-b__slide active" data-slide="1">
                                    <img class="product-b__img" src="images/earring-big-1.png">
                                </div>
                                <div class="product-b__slide" data-slide="2">
                                    <img class="product-b__img" src="images/earring-big-2.png">
                                </div>
                                <div class="product-b__slide" data-slide="3">
                                    <img class="product-b__img" src="images/earring-big-1.png">
                                </div>
                                <div class="product-b__slide" data-slide="4">
                                    <img class="product-b__img" src="images/earring-big-2.png">
                                </div>
                            </div>
                            <ul class="product-b__slide-toggle-box">
                                <li class="product-b__slide-toggle" data-slide-toggle="1"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="2"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="3"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="4"></li>
                            </ul>
                        </a>
                        <p class="clean product-b__price">55 000 р</p>
                        <p class="clean product-b__description">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        <div class="product-b__popup">
                            <div class="mb-20">
                                <a class="btn btn_orange">Где купить</a>
                            </div>
                            <div class="checkbox-save">
                                <input type="checkbox" class="checkbox-save__input" title="save">
                                <div class="checkbox-save__ico-box">
                                    <i class="ico-heart-black checkbox-save__ico checkbox-save__ico_first"></i>
                                    <i class="ico-heart-orange checkbox-save__ico checkbox-save__ico_second"></i>
                                </div>
                                <label class="checkbox-save__label">
                                    <span class="checkbox-save__text-first">Сохранить</span>
                                    <span class="checkbox-save__text-second">Сохранено</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-b__item">
                    <div class="product-b">
                        <div class="product-b__infographics clearfix">
                            <i class="ico ico-brilliant f-l mr-5"></i>
                            <i class="ico product-b__circle">Хит</i>
                            <i class="ico ico-check f-r ml-5"></i>
                        </div>
                        <a class="product-b__link-img" href="#">
                            <div class="product-b__slide-box">
                                <div class="product-b__slide active" data-slide="1">
                                    <img class="product-b__img" src="images/earring-big-2.png">
                                </div>
                                <div class="product-b__slide" data-slide="2">
                                    <img class="product-b__img" src="images/earring-big-1.png">
                                </div>
                                <div class="product-b__slide" data-slide="3">
                                    <img class="product-b__img" src="images/earring-big-2.png">
                                </div>
                                <div class="product-b__slide" data-slide="4">
                                    <img class="product-b__img" src="images/earring-big-1.png">
                                </div>
                            </div>
                            <ul class="product-b__slide-toggle-box">
                                <li class="product-b__slide-toggle" data-slide-toggle="1"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="2"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="3"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="4"></li>
                            </ul>
                        </a>
                        <p class="clean product-b__price">55 000 р</p>
                        <p class="clean product-b__description">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        <div class="product-b__popup">
                            <div class="mb-20">
                                <a class="btn btn_orange">Где купить</a>
                            </div>
                            <div class="checkbox-save">
                                <input type="checkbox" class="checkbox-save__input" title="save">
                                <div class="checkbox-save__ico-box">
                                    <i class="ico-heart-black checkbox-save__ico checkbox-save__ico_first"></i>
                                    <i class="ico-heart-orange checkbox-save__ico checkbox-save__ico_second"></i>
                                </div>
                                <label class="checkbox-save__label">
                                    <span class="checkbox-save__text-first">Сохранить</span>
                                    <span class="checkbox-save__text-second">Сохранено</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-b__item">
                    <div class="product-b">
                        <div class="product-b__infographics clearfix">
                            <i class="ico ico-brilliant f-l mr-5"></i>
                            <i class="ico product-b__circle">Хит</i>
                            <i class="ico ico-check f-r ml-5"></i>
                        </div>
                        <a class="product-b__link-img" href="#">
                            <div class="product-b__slide-box">
                                <div class="product-b__slide active" data-slide="1">
                                    <img class="product-b__img" src="images/ring-big-1.png">
                                </div>
                                <div class="product-b__slide" data-slide="2">
                                    <img class="product-b__img" src="images/ring-big-2.png">
                                </div>
                                <div class="product-b__slide" data-slide="3">
                                    <img class="product-b__img" src="images/ring-big-3.png">
                                </div>
                                <div class="product-b__slide" data-slide="4">
                                    <img class="product-b__img" src="images/ring-big-3.png">
                                </div>
                            </div>
                            <ul class="product-b__slide-toggle-box">
                                <li class="product-b__slide-toggle" data-slide-toggle="1"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="2"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="3"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="4"></li>
                            </ul>
                        </a>
                        <p class="clean product-b__price">55 000 р</p>
                        <p class="clean product-b__description">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        <div class="product-b__popup">
                            <div class="mb-20">
                                <a class="btn btn_orange">Где купить</a>
                            </div>
                            <div class="checkbox-save">
                                <input type="checkbox" class="checkbox-save__input" title="save">
                                <div class="checkbox-save__ico-box">
                                    <i class="ico-heart-black checkbox-save__ico checkbox-save__ico_first"></i>
                                    <i class="ico-heart-orange checkbox-save__ico checkbox-save__ico_second"></i>
                                </div>
                                <label class="checkbox-save__label">
                                    <span class="checkbox-save__text-first">Сохранить</span>
                                    <span class="checkbox-save__text-second">Сохранено</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-b__item">
                    <div class="product-b">
                        <div class="product-b__infographics clearfix">
                            <i class="ico ico-brilliant f-l mr-5"></i>
                            <i class="ico product-b__circle">Хит</i>
                            <i class="ico ico-check f-r ml-5"></i>
                        </div>
                        <a class="product-b__link-img" href="#">
                            <div class="product-b__slide-box">
                                <div class="product-b__slide active" data-slide="1">
                                    <img class="product-b__img" src="images/ring-big-2.png">
                                </div>
                                <div class="product-b__slide" data-slide="2">
                                    <img class="product-b__img" src="images/ring-big-3.png">
                                </div>
                                <div class="product-b__slide" data-slide="3">
                                    <img class="product-b__img" src="images/ring-big-1.png">
                                </div>
                                <div class="product-b__slide" data-slide="4">
                                    <img class="product-b__img" src="images/ring-big-2.png">
                                </div>
                            </div>
                            <ul class="product-b__slide-toggle-box">
                                <li class="product-b__slide-toggle" data-slide-toggle="1"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="2"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="3"></li>
                                <li class="product-b__slide-toggle" data-slide-toggle="4"></li>
                            </ul>
                        </a>
                        <p class="clean product-b__price">55 000 р</p>
                        <p class="clean product-b__description">Кольцо из красного золота 585 пробы с белыми бриллиантами из коллекции Graphik</p>
                        <div class="product-b__popup">
                            <div class="mb-20">
                                <a class="btn btn_orange">Где купить</a>
                            </div>
                            <div class="checkbox-save">
                                <input type="checkbox" class="checkbox-save__input" title="save">
                                <div class="checkbox-save__ico-box">
                                    <i class="ico-heart-black checkbox-save__ico checkbox-save__ico_first"></i>
                                    <i class="ico-heart-orange checkbox-save__ico checkbox-save__ico_second"></i>
                                </div>
                                <label class="checkbox-save__label">
                                    <span class="checkbox-save__text-first">Сохранить</span>
                                    <span class="checkbox-save__text-second">Сохранено</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="carousel-b carousel-b_reviews">
        <div class="container">
            <h3 class="clean text-center mb-30">Что говорят наши дорогие клиенты</h3>
            <div class="owl-carousel owl-carousel_reviews">
                <div class="reviews-b">
                    <div class="reviews-b__photo">
                        <img src="images/alina.jpg">
                    </div>
                    <div class="reviews-b__text">
                        <p class="text-gray mb-25">Купила уже три изделия за короткий срок. Качественные работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском уровне девушки тактичны, обходительны и доброжелательны.</p>
                        <p class="clean reviews-b__author">— Алина, Москва</p>
                    </div>
                </div>
                <div class="reviews-b">
                    <div class="reviews-b__photo">
                    </div>
                    <div class="reviews-b__text">
                        <p class="text-gray mb-25">Купил уже три изделия за короткий срок. Качественные работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском уровне девушки тактичны, обходительны и доброжелательны.</p>
                        <p class="clean reviews-b__author">— Максимилиан, Москва</p>
                    </div>
                </div>
                <div class="reviews-b">
                    <div class="reviews-b__photo">
                        <img src="images/alina.jpg">
                    </div>
                    <div class="reviews-b__text">
                        <p class="text-gray mb-25">Купила уже три изделия за короткий срок. Качественные работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском уровне девушки тактичны, обходительны и доброжелательны.</p>
                        <p class="clean reviews-b__author">— Максимилиан, Москва</p>
                    </div>
                </div>
                <div class="reviews-b">
                    <div class="reviews-b__photo">
                    </div>
                    <div class="reviews-b__text">
                        <p class="text-gray mb-25">Купил уже три изделия за короткий срок. Качественные работы практически на любой кошелёк. Ну а обслуживание в салоне просто на европейском уровне девушки тактичны, обходительны и доброжелательны.</p>
                        <p class="clean reviews-b__author">— Максимилиан, Москва</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-default">Все отзывы</button>
            </div>
        </div>
    </section>
    <section class="feedback-b">
        <div class="container">
            <div class="col-md-4 text-right">
                <p class="clean feedback-b__caption">Дарим 500 рублей<br>на золото!</p>
            </div>
            <div class="col-md-8">
                <form class="feedback-b__form">
                    <fieldset class="form-group form-group_feedback-b">
                        <div class="feedback-b__col">
                            <input type="text" class="entry-field entry-field_feedback-b" title="name" placeholder="Имя">
                        </div>
                        <div class="feedback-b__col">
                            <input type="text" class="entry-field entry-field_feedback-b" title="e-mail" placeholder="Email">
                        </div>
                        <div class="feedback-b__col">
                            <button type="submit" class="btn btn-default">Подписаться</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    <section class="shop-descript-b">
        <div class="container text-center">
            <h3 class="clean mb-30">Ювелирный магазин КАРАТОВ.ру</h3>
            <p class="clean shop-descript-b__text">Магазин ювелирных украшений КАРАТОВ.ру – настоящий гипермаркет изделий, где каждый сможет найти<br>для себя подходящее украшение. Широчайший выбор, разнообразие дизайна и доступные цены — то, что мы предлагаем каждому нашему клиенту.<br>Большой ассортимент женских, мужских и детских ювелирных изделий из золота выгодно выделяет магазин ювелирных...
            </p>
            <span class="shop-descript-b__link">Развернуть все</span>
        </div>
    </section>
{% endblock %}