<header>
    <div class="bg-gray p-rel tracery-header">
        <div class="container">
            <ul class="row achievements-b">
                <li class="col-md-3 hidden-lg">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-text">№1</i>
                        </div>
                        <div class="achievements-b__caption">
                            Первый русский<br>ювелирный бренд
                        </div>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-factory"></i>
                        </div>
                        <div class="achievements-b__caption">
                            Собственное<br>производство
                        </div>
                    </div>
                </li>
                <li class="col-md-3 hidden-xs hidden-sm">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-rowsup"></i>
                        </div>
                        <div class="achievements-b__caption">
                            Один из крупнейших<br>в России
                        </div>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-shop"></i>
                        </div>
                        <div class="achievements-b__caption">
                            5 000 магазинов<br>партнеров в мире
                        </div>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-twentyfive"></i>
                        </div>
                        <div class="achievements-b__caption">
                            25 лет<br>на мировом рынке
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-close-wrap">
            <i class="ico btn-close"></i>
        </div>
    </div>
    <div class="service-b">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="call-b">
                        <div class="dropdown call-b__tel-b">
                            <span class="dropdown-toggle tel" data-toggle="dropdown">8-800-775-77-15</span>
                            <div class="dropdown-menu dropdown-menu_call-b" role="menu" aria-labelledby="dropdownMenu">
                                <ul class="clean call-b__list">
                                    <li class="call-b__item">
                                        <p class="clean">Заказ по телефону:</p>
                                        <p class="clean text-gray">круглосуточно, 24/7</p>
                                    </li>
                                    <li class="call-b__item">
                                        <p class="clean">Обработка заказов:</p>
                                        <p class="clean text-gray">ежедневно, 09:00 — 21:00</p>
                                    </li>
                                </ul>
                                <div class="text-center">
                                    <button type="button" class="btn btn-default">Обратный звонок</button>
                                </div>
                            </div>
                            <p class="call-b__text text-gray">бесплатно по России</p>
                        </div>
                        <div class="call-b__dd call-b__text text-gray arrow-down">Москва и м.о.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="logo-b">
                        <a class="logo-b__link" href="#">
                            <img class="logo-b__img" src="images/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="service-b__list">
                        <li class="service-b__item">
                            <div class="service-b__toggle">
                                <i class="ico ico-man mr-10"></i>
                                <span class="service-b__label">Вход</span>
                            </div>
                        </li>
                        <li class="service-b__item">
                            <div class="dropdown">
                                <div class="dropdown-toggle service-b__toggle" data-toggle="dropdown">
                                    <div class="p-rel">
                                        <i class="ico ico-heart mr-10"></i>
                                        <div class="circle-red">3</div>
                                    </div>
                                    <span class="service-b__label">Сохранено</span>
                                </div>
                                <div class="dropdown-menu dropdown-menu_save-b" role="menu" aria-labelledby="dropdownMenu">
                                    <ul>
                                        <li class="save-b__item">
                                            <div class="save-b__img-cont">
                                                <div class="save-b__img-wrap">
                                                    <img class="save-b__img" src="images/ring.png">
                                                </div>
                                            </div>
                                            <div class="save-b__text-box">
                                                <p class="clean save-b__text">55 000 р</p>
                                            </div>
                                            <i class="ico btn-close-gray"></i>
                                        </li>
                                        <li class="save-b__item">
                                            <div class="save-b__img-cont">
                                                <div class="save-b__img-wrap">
                                                    <img class="save-b__img" src="images/earring.png">
                                                </div>
                                            </div>
                                            <div class="save-b__text-box">
                                                <p class="clean save-b__text">55 000 р</p>
                                                <p class="clean save-b__text-strike">18 000 р</p>
                                            </div>
                                            <i class="ico btn-close-gray"></i>
                                        </li>
                                        <li class="save-b__item">
                                            <div class="save-b__img-cont">
                                                <div class="save-b__img-wrap">
                                                    <img class="save-b__img" src="images/ring.png">
                                                </div>
                                            </div>
                                            <div class="save-b__text-box">
                                                <p class="clean save-b__text">55 000 р</p>
                                            </div>
                                            <i class="ico btn-close-gray"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar clean menu-header">
        <div class="container">
            <nav class="navbar-left menu-header__left-b">
                <ul class="navbar-nav menu-header__list">
                    <li class="menu-header__item"><a class="menu-header__link line-orange-anim" href="#">О Karatov</a></li>
                    <li class="menu-header__item"><a class="menu-header__link line-orange-anim" href="#">Ювелирные украшения</a></li>
                    <li class="menu-header__item"><a class="menu-header__link line-orange-anim" href="#">Коллекции</a></li>
                    <li class="menu-header__item"><a class="menu-header__link line-orange-anim" href="#">Клуб покупателей</a></li>
                    <li class="menu-header__item"><a class="menu-header__link line-orange-anim" href="#">Где купить</a></li>
                </ul>
            </nav>
            <div class="navbar-right menu-header__right-b">
                <form class="menu-header__form" method="post">
                    <input type="text" class="form-control menu-header__entry-field" title="search">
                    <button type="submit" class="menu-header__btn"><i class="ico ico-magnifier"></i></button>
                </form>
            </div>
        </div>
    </div>
</header>