<header>
    <div class="gray">
        <div class="container">
            <ul class="row achievements-b">
                <li class="col-md-3 hidden-lg">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-text">№1</i>
                        </div>
                        <div class="achievements-b__caption">
                            Первый русский<br>ювелирный бренд
                        </div>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-factory"></i>
                        </div>
                        <div class="achievements-b__caption">
                            Собственное<br>производство
                        </div>
                    </div>
                </li>
                <li class="col-md-3 hidden-xs hidden-sm">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-rowsup"></i>
                        </div>
                        <div class="achievements-b__caption">
                            Один из крупнейших<br>в России
                        </div>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-shop"></i>
                        </div>
                        <div class="achievements-b__caption">
                            5 000 магазинов<br>партнеров в мире
                        </div>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="achievements-b__item">
                        <div class="achievements-b__circle">
                            <i class="ico ico_abs ico-twentyfive"></i>
                        </div>
                        <div class="achievements-b__caption">
                            25 лет<br>на мировом рынке
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="tracery"></div>
    <div class="service-b">
        <div class="container service-b__container">
            <div class="row service-b__row">
                <div class="col-md-4 service-b__col">
                    <div class="call-b">
                        <a class="call-b__link" href="tel:+78007757715">8-800-775-77-15</a>
                        <div>Москва и м.о.</div>
                        <p class="call-b__action">бесплатно по России</p>
                    </div>
                </div>
                <div class="col-md-4 text-center service-b__col">
                    <div class="logo-b">
                        <a class="logo-b__link">
                            <img class="logo-b__img" src="images/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 service-b__col">
                    <div class="service-b__int-b">
                        <div class="service-b__entry-b">
                            <i class="ico ico-man"></i>
                            <span>Войти</span>
                        </div>
                        <div class="service-b__save-b">
                            <i class="ico ico-heart"></i>
                            <span>Сохранено</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <ul class="navbar-nav">
                    <li>О Karatov</li>
                    <li>Ювелирные украшения</li>
                    <li>Коллекции</li>
                    <li>Клуб покупателей</li>
                    <li>Где купить</li>
                </ul>
                <div>
                    <input type="text" title="search">
                </div>
            </div>
        </div>
    </div>
</header>